<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hair by Cher is gespecialiseerd in het verzorgen van uw haar op een manier die perfect bij uw uitstraling en persoonlijkheid past. De Clercqstraat 20 1052 ND Amsterdam"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Hair by cher</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/img/logo.png" alt="logo: Hair by cher">
        </a>
      </div>

      <nav>
        <a href="/">home</a>
        <a href="/behandelingen">behandelingen</a>
        <a href="/producten">producten</a>
        <a href="/prijzen">prijzen</a>
        <a href="/contact">contact</a>
      </nav>
    </header>

    <main>
      {% block content %} {% endblock %}
    </main>

    <footer></footer>
  </body>
</html>
